.BlogContant {
  font-weight: 500;
  font-size: 17px;
  font-family: "Adobe Clean";
}
.ImageWrap {
  width: 100%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
.ImageWrap img {
  width: 100%;
  max-width: 540px;
  min-width: 100px;
  height: 500px;
  min-width: 300px;
  margin: 0px auto;
  border-radius: 10px;
}
