.HeaderWapper {
  width: 100%;
  height: auto;
  /* position: fixed; */
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  color: white;
  background-color: #000000;
  padding: 12px 0px;
}
.Logo {
  margin-left: 12px;
  display: flex;
}
.Logo > img {
  width: 150px;
}
.UserImageWrapper {
  margin-right: 12px;
}
.HeaderSearch {
  width: 100%;
  /* background-color: rgb(55, 59, 59); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 10px;
  margin-left: 60px;
  color: white;
  /* padding: 15px; */
}
.HeaderSearchLeftSection {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  font-size: 15px;
  border-right: 1px solid white;
}
.HeaderSearchRightSection {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 15px;
}
.HeaderSearchRightSection > input {
  width: 100%;
  height: 100%;
  background-color: #0000 !important;
  outline: none;
  border: none;
  color: white !important;
  border-radius: 10px;
  position: relative;
}
.HeaderSearchResult {
  display: none;
  width: 30%;
  height: 100px;
  position: absolute;
  z-index: 99;
  background-color: red;
  top: 61px;
  border-radius: 5px;
}

.LoactionFilter {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border-bottom: 1px solid white !important;
  border-radius: 0px !important;
  width: auto !important;
  color: white !important;
}
.LoactionFilter > option {
  background-color: transparent !important;
  color: #000000;
}
