@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  --primary-box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  --primary-bg: rgb(255, 255, 255);
  --gray: rgb(207, 207, 207);
  --rating-yellow: #ffe234;
  --rating-background: #68020f;
  --tab-button: #f21137;
  --border-white: rgb(232, 232, 232);
  --inactive-color: #f8f8f8;
  --inactive-text: #696969;
  --filter-text: #9c9c9c;
  --secondary-bg: #f8f8f8;
  --heading-text: #1c1c1c;
  --collection-shadow: rgb(0 0 0 / 8%) 0px 3px 12px;
  --tag-red: #d92662;
  --tag-blue: #256fef;
  --tag-green: #24963f;
  --subtitle-text: #363636;
  --bg-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
}
.breadcrumb-item > a {
  color: var(--tab-button) !important;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #1c1c1c !important;
}
.nav-tabs .nav-link {
  margin: 10px;
  /* padding: 7px 20px; */
  background-color: #f2eff0;
  /* border-bottom: 1px; */
  /* border: 1px solid gray; */
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  /* border: 1px solid black; */
  outline: none;
  border-radius: 2px;
  /* width: 95px; */
  color: var(--heading-text);
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: var(--tab-button);
  border-color: #dee2e6 #dee2e6 #fff;
  border-radius: 2px;
}
